/*
 * Copyright (C) 2018 Exor International.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include <dt-bindings/input/input.h>
#include "imx6ul.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	model = "Exor NanoSom01 i.MX6 UltraLite Da22 Board";
	compatible = "exor,ns01-ek435", "fsl,imx6ul";

	aliases {
		i2c0 = &i2c4;
		serial0 = &uart5;    //Main RS485 uart
		serial1 = &uart6;    //Aux uart on plugin module
		serial2 = &uart1;    //Console uart
		watchdog0 = &wdog1;
		spi0 = &ecspi3;      //spidev0,1 for plugins
		spi1 = &ecspi1;      //can0, fram
		spi2 = &ecspi2;      //can1,2 on plugins
		ethernet0 = &fec1;
		ethernet1 = &fec2;
	};

	chosen {
		stdout-path = &uart1;
	};

	memory {
		reg = <0x80000000 0x20000000>;
	};

	reg_sd1_vmmc: sd1_regulator {
		compatible = "regulator-fixed";
		regulator-name = "emmc_enable";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
	};

	reg_sd2_emmc: sd2_regulator {
		compatible = "regulator-fixed";
		regulator-name = "emmc_enable";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
	};
	
	reg_usb_otg1_vbus: regulator-usb-otg1 {
		compatible = "regulator-fixed";
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
	
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";

		led@1 {
			label = "ns01:dl:usr0";
			gpios = <&tca6408 7 1>;
			default-state = "on";
		};

		led@2 {
			label = "ns01:fault:usr0";
			gpios = <&tca6408 6 0>;
			default-state = "off";
		};
		
		led@3 {
			label = "en_rs485bias";
			gpios = <&gpio3 19 0>;
			default-state = "off";
		};

		led@4 {
			label = "pl_rs485bias";
			gpios = <&gpio4 11 0>;
			default-state = "off";
		};
	};

	beeper {
	  compatible = "pwm-beeper";
	  pwms = <&pwm5 0 50000 0>;
	};	
	
	working_hours {
	  compatible = "working_hours";
	  nvmem-names = "eeprom", "rtcnvram";
	  nvmem = <&seeprom0>, <&m41t83>;
	  status = "okay";
	};
	
	plxx0: plugin0 {
	  compatible = "exor,plxx_manager";
	  nvmem-names = "eeprom", "ioexp";
	  nvmem = <&plxxseeprom>, <&plxxioexp>;
	  sel-gpio = <&gpio3 9 0>;
	  index = <0>;
	  status = "okay";
	};

	plxx1: plugin1 {
	  compatible = "exor,plxx_manager";
	  nvmem-names = "eeprom", "ioexp";
	  nvmem = <&plxxseeprom>, <&plxxioexp>;
	  sel-gpio = <&gpio3 8 0>;
	  index = <1>;
	  status = "okay";
	};

	plxx2: plugin2 {
	  compatible = "exor,plxx_manager";
	  nvmem-names = "eeprom", "ioexp";
	  nvmem = <&plxxseeprom>, <&plxxioexp>;
	  sel-gpio = <&gpio3 7 0>;
	  index = <2>;
	  status = "okay";
	};

	plxx3: plugin3 {
	  compatible = "exor,plxx_manager";
	  nvmem-names = "eeprom", "ioexp";
	  nvmem = <&plxxseeprom>, <&plxxioexp>;
	  sel-gpio = <&gpio3 6 0>;
	  index = <3>;
	  status = "okay";
	};
	
	i2cmux {
		compatible = "i2c-mux-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		mux-gpios = <&gpio1 5 0 &gpio1 24 0>;
		i2c-parent = <&i2c4>;

		i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			
			led-controller@32 {
				compatible = "ti,lp5562";
				reg = <0x32>;
				clock-mode = /bits/ 8 <1>;
				status = "okay";
				#address-cells = <1>;
				#size-cells = <0>;

				chan@0 {
					chan-name = "pl0_R";
					led-cur = /bits/ 8 <0x50>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_RED>;
					reg = <0>;
				};

				chan@1 {
					chan-name = "pl0_G";
					led-cur = /bits/ 8 <0x14>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_GREEN>;
					linux,default-trigger = "default-on";
					reg = <1>;
				};

				chan@2 {
					chan-name = "pl0_B";
					led-cur = /bits/ 8 <0x60>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_BLUE>;
					reg = <2>;
				};

				chan@3 {
					chan-name = "pl0_W";
					led-cur = /bits/ 8 <0x0>;
					max-cur = /bits/ 8 <0x0>;
					color = <LED_COLOR_ID_WHITE>;
					reg = <3>;
				};
			};				
		};

		i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			
			led-controller@32 {
				compatible = "ti,lp5562";
				reg = <0x32>;
				clock-mode = /bits/ 8 <1>;
				status = "okay";
				#address-cells = <1>;
				#size-cells = <0>;

				chan@0 {
					chan-name = "pl1_R";
					led-cur = /bits/ 8 <0x50>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_RED>;
					reg = <0>;
				};

				chan@1 {
					chan-name = "pl1_G";
					led-cur = /bits/ 8 <0x14>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_GREEN>;
					linux,default-trigger = "default-on";
					reg = <1>;
				};

				chan@2 {
					chan-name = "pl1_B";
					led-cur = /bits/ 8 <0x60>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_BLUE>;
					reg = <2>;
				};

				chan@3 {
					chan-name = "pl1_W";
					led-cur = /bits/ 8 <0x0>;
					max-cur = /bits/ 8 <0x0>;
					color = <LED_COLOR_ID_WHITE>;
					reg = <3>;
				};
			};				
		};
		
		i2c@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			
			led-controller@32 {
				compatible = "ti,lp5562";
				reg = <0x32>;
				clock-mode = /bits/ 8 <1>;
				status = "okay";
				#address-cells = <1>;
				#size-cells = <0>;

				chan@0 {
					chan-name = "pl2_R";
					led-cur = /bits/ 8 <0x50>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_RED>;
					reg = <0>;
				};

				chan@1 {
					chan-name = "pl2_G";
					led-cur = /bits/ 8 <0x14>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_GREEN>;
					linux,default-trigger = "default-on";
					reg = <1>;
				};

				chan@2 {
					chan-name = "pl2_B";
					led-cur = /bits/ 8 <0x60>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_BLUE>;
					reg = <2>;
				};

				chan@3 {
					chan-name = "pl2_W";
					led-cur = /bits/ 8 <0x0>;
					max-cur = /bits/ 8 <0x0>;
					color = <LED_COLOR_ID_WHITE>;
					reg = <3>;
				};
			};				
		};
		
		i2c@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
			
			led-controller@32 {
				compatible = "ti,lp5562";
				reg = <0x32>;
				clock-mode = /bits/ 8 <1>;
				status = "okay";
				#address-cells = <1>;
				#size-cells = <0>;

				chan@0 {
					chan-name = "pl3_R";
					led-cur = /bits/ 8 <0x50>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_RED>;
					reg = <0>;
				};

				chan@1 {
					chan-name = "pl3_G";
					led-cur = /bits/ 8 <0x14>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_GREEN>;
					linux,default-trigger = "default-on";
					reg = <1>;
				};

				chan@2 {
					chan-name = "pl3_B";
					led-cur = /bits/ 8 <0x60>;
					max-cur = /bits/ 8 <0x60>;
					color = <LED_COLOR_ID_BLUE>;
					reg = <2>;
				};

				chan@3 {
					chan-name = "pl3_W";
					led-cur = /bits/ 8 <0x0>;
					max-cur = /bits/ 8 <0x0>;
					color = <LED_COLOR_ID_WHITE>;
					reg = <3>;
				};
			};				
		};
	};	
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <786432000>;
};

&cpu0 {
	arm-supply = <&reg_arm>;
	soc-supply = <&reg_soc>;
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0x2>;
	fsl,cpu_pupscr_sw = <0x1>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,wdog-reset = <1>; /* watchdog select of reset source */
	fsl,ldo-bypass = <1>; /* use ldo-bypass, u-boot will check it and configure */
};

&pwm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm5>;
	clocks = <&clks IMX6UL_CLK_PWM5>,
	 <&clks IMX6UL_CLK_PWM5>;
	status = "okay";
};

&uart1 {
	/* Internal/debug /dev/ttymxc2 */
	/delete-property/dmas;
	/delete-property/dma-names;	
	status = "okay";
};

&uart5 {
	/* Main RS485 /dev/ttymxc0 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	rts-gpio = <&gpio4 24 0>;
	fsl,uart-has-rtscts;
	status = "okay";
	/delete-property/dmas;
	/delete-property/dma-names;	
};

&uart6 {
	/* PlugIn /dev/ttymxc1 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	fsl,uart-has-rtscts;
	is-plugin-module;
	status = "okay";
	plugin1 = <&plxx0>;
	plugin2 = <&plxx1>;
	/delete-property/dmas;
	/delete-property/dma-names;	
};

&usbotg1 {
	dr_mode = "otg";
	vbus-supply = <&reg_usb_otg1_vbus>;
	pinctrl-0 = <&pinctrl_usbotg1>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	disable-over-current;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>;
	bus-width = <4>;
	cd-gpios = <&gpio1 19 GPIO_ACTIVE_LOW>;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
	vmmc-supply = <&reg_sd1_vmmc>;
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	no-1-8-v;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
	vmmc-supply = <&reg_sd2_emmc>;
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
	pinctrl-1 = <&pinctrl_i2c4_gpio>;
	scl-gpios = <&gpio1 20 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>;
	status = "okay";

	pmic: pfuze3000@8 {
		compatible = "fsl,pfuze3000";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1a {
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <3300000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <6250>;
			};

			/* use sw1c_reg to align with pfuze100/pfuze200 */
			sw1c_reg: sw1b {
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1475000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1650000>;
				regulator-boot-on;
				regulator-always-on;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
				regulator-boot-on;
				regulator-always-on;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen2_reg: vldo2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
				regulator-always-on;
			};

			vgen3_reg: vccsd {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen4_reg: v33 {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vldo3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vldo4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};
	
	seeprom0:seeprom0@54 {
		compatible = "atmel,24c02";
		reg = <0x54>;
	};

	seeprom1:seeprom1@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};

	seeprom2:seeprom2@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
	};
	
	m41t83:m41t83@68 {
		compatible = "st,m41t83";
		reg = <0x68>;
	};

	tca6408: tca6408@21 {
		compatible = "ti,tca6408";
		interrupt-parent = <&gpio1>;
		interrupts = <3 0x8>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		reg = <0x21>;
		restart-if-fails;
	};
	
	lm75@4c {
	  compatible = "national,lm75";
	  reg = <0x4C>;
	  status = "okay";
	};
	
	plxxseeprom:seeprom1@57 {
		compatible = "atmel,24c02";
		reg = <0x57>;
	};

	plxxioexp:ioexp1@41 {
		compatible = "atmel,24c02";
		reg = <0x41>;
	};
	
	led-controller@30 {
		compatible = "ti,lp5562";
		reg = <0x30>;
		clock-mode = /bits/ 8 <1>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		enable-gpio = <&gpio3 10 0>; 

		chan@0 {
			chan-name = "R";
			led-cur = /bits/ 8 <0x50>;
			max-cur = /bits/ 8 <0x60>;
            color = <LED_COLOR_ID_RED>;
 			reg = <0>;
		};

		chan@1 {
			chan-name = "G";
			led-cur = /bits/ 8 <0x14>;
			max-cur = /bits/ 8 <0x60>;
            color = <LED_COLOR_ID_GREEN>;
            linux,default-trigger = "default-on";
			reg = <1>;
		};

		chan@2 {
			chan-name = "B";
			led-cur = /bits/ 8 <0x60>;
			max-cur = /bits/ 8 <0x60>;
            color = <LED_COLOR_ID_BLUE>;
			reg = <2>;
		};

		chan@3 {
			chan-name = "W";
			led-cur = /bits/ 8 <0x0>;
			max-cur = /bits/ 8 <0x0>;
            color = <LED_COLOR_ID_WHITE>;
			reg = <3>;
		};
	};		
};

&iomuxc {
  	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;
	imx6ul-ns01 {
		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX6UL_PAD_SD1_CMD__USDHC1_CMD     0x170F9
				MX6UL_PAD_SD1_CLK__USDHC1_CLK     0x100F9
				MX6UL_PAD_SD1_DATA0__USDHC1_DATA0 0x170F9
				MX6UL_PAD_SD1_DATA1__USDHC1_DATA1 0x170F9
				MX6UL_PAD_SD1_DATA2__USDHC1_DATA2 0x170F9
				MX6UL_PAD_SD1_DATA3__USDHC1_DATA3 0x170F9
				MX6UL_PAD_UART1_RTS_B__GPIO1_IO19 0x170F9 /* SD1 CD */
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX6UL_PAD_NAND_RE_B__USDHC2_CLK     0x17059
				MX6UL_PAD_NAND_WE_B__USDHC2_CMD     0x17059
				MX6UL_PAD_NAND_DATA00__USDHC2_DATA0 0x17059
				MX6UL_PAD_NAND_DATA01__USDHC2_DATA1 0x17059
				MX6UL_PAD_NAND_DATA02__USDHC2_DATA2 0x17059
				MX6UL_PAD_NAND_DATA03__USDHC2_DATA3 0x17059
			>;
		};

		pinctrl_hog_1: hoggrp {
			fsl,pins = <
				MX6UL_PAD_LCD_DATA05__GPIO3_IO10    0x13059 /* DIS_PGOOD, default PD */
				MX6UL_PAD_LCD_DATA04__GPIO3_IO09    0x13059 /* PLSEL1 */
				MX6UL_PAD_LCD_DATA03__GPIO3_IO08    0x13059 /* PLSEL2 */
				MX6UL_PAD_LCD_DATA02__GPIO3_IO07    0x13059 /* PLSEL3 */
				MX6UL_PAD_LCD_DATA01__GPIO3_IO06    0x13059 /* PLSEL4 */
				MX6UL_PAD_GPIO1_IO05__GPIO1_IO05    0x13059 /* GPIO1 (i2c mux) */
				MX6UL_PAD_UART3_TX_DATA__GPIO1_IO24 0x13059 /* GPIO2 (i2c mux) */
				MX6UL_PAD_NAND_WP_B__GPIO4_IO11     0x13059 /* PL_485_BIAS */
				MX6UL_PAD_LCD_DATA14__GPIO3_IO19    0x13059 /* EN_485_BIAS */
				>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX6UL_PAD_UART2_TX_DATA__I2C4_SCL 0x4001b8b0
				MX6UL_PAD_UART2_RX_DATA__I2C4_SDA 0x4001b8b0
				MX6UL_PAD_GPIO1_IO03__GPIO1_IO03  0x17059
			>;
		};

		pinctrl_i2c4_gpio: i2c4grpgpio {
			fsl,pins = <
				MX6UL_PAD_UART2_TX_DATA__GPIO1_IO20 0x1b0b1
				MX6UL_PAD_UART2_RX_DATA__GPIO1_IO21 0x1b0b1
				MX6UL_PAD_GPIO1_IO03__GPIO1_IO03  0x17059
			>;
		};
		
		pinctrl_enet1: enet1grp {
			fsl,pins = <
				MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN	0x1b0b0
				MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER	0x1b0b0
				MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00	0x1b0b0
				MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01	0x1b0b0
				MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN	0x1b0b0
				MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00	0x1b0b0
				MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01	0x1b0b0
				MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1	0x4b01b0a8
			>;
		};

		pinctrl_enet2: enet2grp {
			fsl,pins = <
				MX6UL_PAD_GPIO1_IO07__ENET2_MDC		0x1b0b0
				MX6UL_PAD_GPIO1_IO06__ENET2_MDIO	0x1b0b0
				MX6UL_PAD_ENET2_RX_EN__ENET2_RX_EN	0x1b0b0
				MX6UL_PAD_ENET2_RX_ER__ENET2_RX_ER	0x1b0b0
				MX6UL_PAD_ENET2_RX_DATA0__ENET2_RDATA00	0x1b0b0
				MX6UL_PAD_ENET2_RX_DATA1__ENET2_RDATA01	0x1b0b0
				MX6UL_PAD_ENET2_TX_EN__ENET2_TX_EN	0x1b0b0
				MX6UL_PAD_ENET2_TX_DATA0__ENET2_TDATA00	0x1b0b0
				MX6UL_PAD_ENET2_TX_DATA1__ENET2_TDATA01	0x1b0b0
				MX6UL_PAD_ENET2_TX_CLK__ENET2_REF_CLK2	0x4b01b0a8
			>;
		};
		
		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX6UL_PAD_CSI_DATA00__UART5_DCE_TX   0x1b0b1
				MX6UL_PAD_CSI_DATA01__UART5_DCE_RX   0x1b0b1
				MX6UL_PAD_CSI_DATA03__GPIO4_IO24     0x1b0b1
			>;
		};

		pinctrl_uart6: uart6grp {
			fsl,pins = <
				MX6UL_PAD_CSI_MCLK__UART6_DCE_TX	0x1b0b1
				MX6UL_PAD_CSI_PIXCLK__UART6_DCE_RX	0x1b0b1
				MX6UL_PAD_CSI_HSYNC__UART6_DCE_CTS	0x1b0b1
				MX6UL_PAD_CSI_VSYNC__UART6_DCE_RTS	0x1b0b1
			>;
		};

		pinctrl_ecspi1: ecspi1grp-1 {
			fsl,pins = <
				MX6UL_PAD_CSI_DATA05__GPIO4_IO26	0x10b0 /* cs0 can0 */
				MX6UL_PAD_UART2_CTS_B__GPIO1_IO22	0x10b0 /* cs1 fram */
				MX6UL_PAD_CSI_DATA04__ECSPI1_SCLK	0x10b0
				MX6UL_PAD_CSI_DATA06__ECSPI1_MOSI	0x10b0
				MX6UL_PAD_CSI_DATA07__ECSPI1_MISO	0x10b0
				MX6UL_PAD_LCD_DATA15__GPIO3_IO20    0x10b0 /* can0 irq */
			>;
		};
		
		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
				MX6UL_PAD_NAND_CE1_B__ECSPI3_MOSI   0x10b0
				MX6UL_PAD_NAND_CLE__ECSPI3_MISO     0x10b0
				MX6UL_PAD_NAND_CE0_B__ECSPI3_SCLK   0x10b0
				MX6UL_PAD_NAND_READY_B__GPIO4_IO12  0x10b0
				MX6UL_PAD_NAND_ALE__GPIO4_IO10      0x10b0
			>;
		};

		pinctrl_ecspi2: ecspi1grp-2 {
			fsl,pins = <
				MX6UL_PAD_UART4_RX_DATA__GPIO1_IO29	    0x10b0 /* cs0 can1 */
				MX6UL_PAD_NAND_DATA07__GPIO4_IO09       0x10b0 /* cs1 can2 */
				MX6UL_PAD_UART4_TX_DATA__ECSPI2_SCLK	0x10b0
				MX6UL_PAD_UART5_TX_DATA__ECSPI2_MOSI	0x10b0
				MX6UL_PAD_UART5_RX_DATA__ECSPI2_MISO	0x10b0
				MX6UL_PAD_NAND_DATA05__GPIO4_IO07       0x10b0 /* can1 irq */
				MX6UL_PAD_NAND_DATA06__GPIO4_IO08       0x10b0 /* can2 irq */
			>;
		};
		
		pinctrl_pwm5: pwm5grp {
			fsl,pins = <
				MX6UL_PAD_NAND_DQS__PWM5_OUT   0x110b0
			>;
		};
		
		pinctrl_usbotg1: usbotg1grp {
			fsl,pins = <
				MX6UL_PAD_GPIO1_IO00__ANATOP_OTG1_ID	0x17059
				MX6UL_PAD_GPIO1_IO04__GPIO1_IO04	0x17059
				MX6UL_PAD_GPIO1_IO01__USB_OTG1_OC	0x17059
			>;
		};
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	status = "okay";
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	phy-mode = "rmii";
	phy-handle = <&ethphy1>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};
	};
};

&ecspi3 { /* spi0: spidev0,1 fro plugins */
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio4 12 0>, <&gpio4 10 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";
	/delete-property/dmas;
	/delete-property/dma-names;	

	spidev3_0: spi3@0 {
		compatible = "generic,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
	
	spidev3_1: spi3@1 {
		compatible = "generic,spidev";
		reg = <1>;
		spi-max-frequency = <1000000>;
	};
};

&ecspi1 { /* spi1: can0, fram */
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio4 26 0>, <&gpio1 22 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";
	/delete-property/dmas;
	/delete-property/dma-names;	

    can00: spi1@0 {
		compatible = "ti,tcan4x5x";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <8000000>;
		bosch,mram-cfg = <0x0 0 0 32 0 0 1 1>;
		interrupt-parent = <&gpio3>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
	};	
	
    fram: at25@1 {
        /* CS1 FRAM */
	    compatible = "atmel,at25", "st,m95256";
	    reg = <1>;
	    spi-max-frequency = <20000000>;
	    pagesize = <64>;
	    size = <65536>;
	    address-width = <16>;
	};
};

&ecspi2 { /* can1, can2 on plugins */
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio1 29 0>, <&gpio4 9 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	status = "okay";
	/delete-property/dmas;
	/delete-property/dma-names;	

    can01: spi2@0 {
		compatible = "ti,tcan4x5x";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <8000000>;
		bosch,mram-cfg = <0x0 0 0 32 0 0 1 1>;
		interrupt-parent = <&gpio4>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
	};	

    can02: spi2@1 {
		compatible = "ti,tcan4x5x";
		reg = <1>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <8000000>;
		bosch,mram-cfg = <0x0 0 0 32 0 0 1 1>;
		interrupt-parent = <&gpio4>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
	};	
};
